@import './animations';

.loading {
  margin-top: 35px;
  margin-bottom: 35px;

  .inner {
    width: 95%;
    margin: 0 auto;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
  }

  ul {
    width: 100%;

    li {
      display: inline-block;
      width: calc(98.25% / 8);
      height: 300px;
      background-color: orange;
      margin-right: 0.25%;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
